i {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fade-question-enter-active, .fade-question-leave-active {
  transition: all .1s;
}

.fade-question-enter {
  opacity: 0;
  transform: translateX(-10px);
}

.fade-question-leave-to {
  opacity: 0;
  transform: translateX(10px);
}

.fade-check-enter-active{
  transition: all .1s;
}

.fade-check-enter {
  opacity: 0;
  transform: translateX(-10px);
}

.fade-check-leave-to {
  opacity: 0;
  transform: translateX(10px);
}

.move-vote-button-enter-active, .move-vote-button-leave-active {
  transition: all .1s;
}
