.root {
  width: 100%;
  overflow: scroll;
}

.choices {
  width: 100%;
  padding: 15px;
}

.choice-root {
  padding: 10px;
  display: flex;
  align-items: center;
}

.choice-radio {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50px;
  border: 1px solid #F44336;
  background: inherit;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.choice-title {
  font-size: 15px;
  color: white;
}
